html{background:#003156;margin:0;padding:0; height:100%; overflow:hidden;}
body {font-family:"\5FAE\8F6F\96C5\9ED1";font-size:13px;background:#003156;color:#000;margin:0;padding:0;border:none;height:100%;overflow:hidden;}
.swiper-container {width:100%;height:100%;margin:0 0 0 0;background:#003156;overflow:hidden;}

.crumbs{height:44px;line-height:44px;position:fixed;top:0;width:100%;background:#FFF;z-index:80000;border-bottom:4px #003156 solid;}

@-webkit-keyframes clickmove{0%{opacity:.5;-webkit-transform:translateY(-5px);-moz-transform:translateY(-5px);-ms-transform:translateY(-5px);-o-transform:translateY(-5px)}50%{opacity:1;-webkit-transform:translateY(0px);-moz-transform:translateY(0px);-ms-transform:translateY(0px);-o-transform:translateY(0px)}100%{opacity:.5;-webkit-transform:translateY(-5px);-moz-transform:translateY(-5px);-ms-transform:translateY(-5px);-o-transform:translateY(-5px)}}
.aniClassBinL,.aniClassBinU,.aniClassShake,.aniClassBinD{display:none;}
.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both; display:block;}
@-webkit-keyframes bounceInLeft{0%,100%,60%,75%,90%{-webkit-transition-timing-function:cubic-bezier(0.215,.61,.355,1);transition-timing-function:cubic-bezier(0.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(-3000px,0,0);transform:translate3d(-3000px,0,0)}60%{opacity:1;-webkit-transform:translate3d(25px,0,0);transform:translate3d(25px,0,0)}75%{-webkit-transform:translate3d(-10px,0,0);transform:translate3d(-10px,0,0)}90%{-webkit-transform:translate3d(5px,0,0);transform:translate3d(5px,0,0)}100%{-webkit-transform:none;transform:none}}@keyframes bounceInLeft{0%,100%,60%,75%,90%{-webkit-transition-timing-function:cubic-bezier(0.215,.61,.355,1);transition-timing-function:cubic-bezier(0.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(-3000px,0,0);transform:translate3d(-3000px,0,0)}60%{opacity:1;-webkit-transform:translate3d(25px,0,0);transform:translate3d(25px,0,0)}75%{-webkit-transform:translate3d(-10px,0,0);transform:translate3d(-10px,0,0)}90%{-webkit-transform:translate3d(5px,0,0);transform:translate3d(5px,0,0)}100%{-webkit-transform:none;transform:none}}.bounceInLeft{-webkit-animation-name:bounceInLeft;animation-name:bounceInLeft}
@-webkit-keyframes bounceInUp{0%,100%,60%,75%,90%{-webkit-transition-timing-function:cubic-bezier(0.215,.61,.355,1);transition-timing-function:cubic-bezier(0.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(0,3000px,0);transform:translate3d(0,3000px,0)}60%{opacity:1;-webkit-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0)}75%{-webkit-transform:translate3d(0,10px,0);transform:translate3d(0,10px,0)}90%{-webkit-transform:translate3d(0,-5px,0);transform:translate3d(0,-5px,0)}100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}@keyframes bounceInUp{0%,100%,60%,75%,90%{-webkit-transition-timing-function:cubic-bezier(0.215,.61,.355,1);transition-timing-function:cubic-bezier(0.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(0,3000px,0);transform:translate3d(0,3000px,0)}60%{opacity:1;-webkit-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0)}75%{-webkit-transform:translate3d(0,10px,0);transform:translate3d(0,10px,0)}90%{-webkit-transform:translate3d(0,-5px,0);transform:translate3d(0,-5px,0)}100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}.bounceInUp{-webkit-animation-name:bounceInUp;animation-name:bounceInUp}
@-webkit-keyframes shake{0%,100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}10%,30%,50%,70%,90%{-webkit-transform:translate3d(-10px,0,0);transform:translate3d(-10px,0,0)}20%,40%,60%,80%{-webkit-transform:translate3d(10px,0,0);transform:translate3d(10px,0,0)}}@keyframes shake{0%,100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}10%,30%,50%,70%,90%{-webkit-transform:translate3d(-10px,0,0);transform:translate3d(-10px,0,0)}20%,40%,60%,80%{-webkit-transform:translate3d(10px,0,0);transform:translate3d(10px,0,0)}}.shake{-webkit-animation-name:shake;animation-name:shake}
@-webkit-keyframes bounceInDown{0%,100%,60%,75%,90%{-webkit-transition-timing-function:cubic-bezier(0.215,.61,.355,1);transition-timing-function:cubic-bezier(0.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(0,-3000px,0);transform:translate3d(0,-3000px,0)}60%{opacity:1;-webkit-transform:translate3d(0,25px,0);transform:translate3d(0,25px,0)}75%{-webkit-transform:translate3d(0,-10px,0);transform:translate3d(0,-10px,0)}90%{-webkit-transform:translate3d(0,5px,0);transform:translate3d(0,5px,0)}100%{-webkit-transform:none;transform:none}}@keyframes bounceInDown{0%,100%,60%,75%,90%{-webkit-transition-timing-function:cubic-bezier(0.215,.61,.355,1);transition-timing-function:cubic-bezier(0.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(0,-3000px,0);transform:translate3d(0,-3000px,0)}60%{opacity:1;-webkit-transform:translate3d(0,25px,0);transform:translate3d(0,25px,0)}75%{-webkit-transform:translate3d(0,-10px,0);transform:translate3d(0,-10px,0)}90%{-webkit-transform:translate3d(0,5px,0);transform:translate3d(0,5px,0)}100%{-webkit-transform:none;transform:none}}.bounceInDown{-webkit-animation-name:bounceInDown;animation-name:bounceInDown}

.p1{ background:#003156 url(../../images/topic/chehuowap/p1.jpg) no-repeat center 0;}
.p2{ background:#003156 url(../../images/topic/chehuowap/p2.jpg) no-repeat center 0;}
.p3{ background:#003156 url(../../images/topic/chehuowap/p3.jpg) no-repeat center 0;}
.p4{ background:#003156 url(../../images/topic/chehuowap/p4.jpg) no-repeat center 0;}
.p5{ background:#003156 url(../../images/topic/chehuowap/p5.jpg) no-repeat center 0;}
.p6{ background:#003156 url(../../images/topic/chehuowap/p6.jpg) no-repeat center 0;}
.p7{ background:#003156 url(../../images/topic/chehuowap/p7.jpg) no-repeat center 0;}
.p8{ background:#003156 url(../../images/topic/chehuowap/p8.jpg) no-repeat center 0;}
.p9{ background:#003156 url(../../images/topic/chehuowap/p9.jpg) no-repeat center 0;}
.p10{ background:#003156 url(../../images/topic/chehuowap/p10.jpg) no-repeat center 0;}
.p11{ background:#003156 url(../../images/topic/chehuowap/p11.jpg) no-repeat center 0;}
.p12{ background:#003156 url(../../images/topic/chehuowap/p12.jpg) no-repeat center 0;}

.p1-1{position:absolute;top:12%;width:85%; left:8%;}
.p2-1,.p3-1,.p4-1{ width:72%;position:absolute; left:14%; top:19%;}
.p2-1 img,.p3-1 img,.p4-1 img,.p8 img,.p12-1 img{ width:100%;}
.p5-1{top:60%;width:55%;position:absolute;left:17%;}
.p5-2{top:73%;width:55%;position:absolute;left:17%;}
.p8 ul{ width:88.887%; height:65.6%; margin:0; padding:0; list-style:none;top:180px;position:absolute;top:2%;left:5%;}
.p8 ul li{ float:left; width:48%; height:33%; padding:0; margin:0; list-style:none;}
.p8 ul li.fr{ float:right;}
.p9-1{width:75%;position:absolute;top:35%;left:13%;}
.votePlugin{ margin:0; padding:0; list-style:none;width:77%;top:52%;left:12%;position:absolute;}
.p12-1{ width:77%; margin:0;top:13%;left:12%;position:absolute;}
.p12-2{width:77%; margin:0;top:28%;left:12%;position:absolute;}
.p12-2 ul{ list-style-position:inside; margin:0; padding:0;}
.p12-2 ul li{list-style-position:inside;margin:0; padding:0; line-height:215%; height:215%;white-space:nowrap; color:#FFF; overflow: hidden;text-overflow: ellipsis; }
.p12-2 ul li a{ color:#FFF; text-decoration:none;}
.p12-2 ul li a:hover{ color:#F00;}

.swiper-slide{background-size:100% auto;}

/*movie*/
body img.click-move{position:absolute;z-index:880;-webkit-animation:clickmove 1s both infinite;top:50%;right:45%;width:9.5%;}

body img.arrow{position:absolute;z-index:880;-webkit-animation:clickmove 1s both infinite;bottom:1%;right:47%;width:7.8%;}

body .p2 img.click-move,body .p3 img.click-move,body .p4 img.click-move{top:32%;}
body .p10 img.click-move{left:75%;}

/*votePlugin*/
.votePlugin{zoom:1;}
.votePlugin li{ margin:2px 0;}
.votePlugin li span{ display:block;}
.votePlugin li span *{ display:inline-block; vertical-align: top;}
.votePlugin .voteNode{font-size:13px; padding:4px 2px;}
.votePlugin .voteInfo{position:relative;}
.votePlugin .voteNum{ padding:0 15px; font-size:12px;}
.votePlugin .voteBtnSub{padding:0;float:right; width:60px;text-align:center; font-size:12px;cursor:pointer;}
.votePlugin .dataNum{ position:absolute; right:60px; padding:0 10px; text-align:center; font-weight:bold; }
.votePlugin .voteData{ width:120px; margin-left:5px; }
.votePlugin .voteInfo{height:30px;line-height:30px;}
.votePlugin .dataPerc{margin-top:7px;height:15px;width:0%;}
/*default color*/
.votePlugin li{color:#F26C84;}
.votePlugin .voteInfo{border:1px #F26C84 solid;}
.votePlugin .voteNum{  background:#F26C84; color:#FFF;}
.votePlugin .voteBtnSub{background:#F26C84; color:#FFF; }
.votePlugin .dataPerc{ background:#F26C84;}
/*orange color*/
.votePlugin li:nth-child(2){ color:#FF794C}
.votePlugin li:nth-child(2) .voteInfo{border:1px #FF794C solid;}
.votePlugin li:nth-child(2) .voteNum{  background:#FF794C; color:#FFF;}
.votePlugin li:nth-child(2) .voteBtnSub{background:#FF794C; color:#FFF; }
.votePlugin li:nth-child(2) .dataPerc{ background:#FF794C;}
/*yellow color*/
.votePlugin li:nth-child(3){ color:#F2AE25}
.votePlugin li:nth-child(3) .voteInfo{border:1px #F2AE25 solid;}
.votePlugin li:nth-child(3) .voteNum{  background:#F2AE25; color:#FFF;}
.votePlugin li:nth-child(3) .voteBtnSub{background:#F2AE25; color:#FFF; }
.votePlugin li:nth-child(3) .dataPerc{ background:#F2AE25;}
/*green color*/
.votePlugin li:nth-child(4){ color:#8CB33E}
.votePlugin li:nth-child(4) .voteInfo{border:1px #8CB33E solid;}
.votePlugin li:nth-child(4) .voteNum{  background:#8CB33E; color:#FFF;}
.votePlugin li:nth-child(4) .voteBtnSub{background:#8CB33E; color:#FFF; }
.votePlugin li:nth-child(4) .dataPerc{ background:#8CB33E;}
